<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Sprockets</string>
	<key>uuid</key>
	<string>9A9EDF10-2ACE-43EF-8C19-F7FB306EB132</string>
</dict>
</plist>
